.secondbar {
  height: max-content;
  width: 22vw;
  min-width: 250px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 0 0 20px;
  overflow-x: hidden;
}

.sideHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondbarInputBody {
  padding-bottom: 20px;
  border-bottom: 3px solid #e7edf1;
  width: 100%;
}
.secondbarInput > input {
  box-shadow: 10px;
  border-radius: 7px;
  outline: none;
  border: none;
  height: 100%;
  width: 74%;
  display: flex;
  padding: 10px 60px 10px 20px;
  color: black;
  font-size: 1rem;
  background-color: #e7edf1;
}

.secondbarInput > input::placeholder {
  color: #015555;
}

.secondbarInput > label {
  margin-bottom: 15px;
  color: #738383;
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputBody {
  position: relative;
  height: 40px;
  background-color: #e8edf1;
  border-radius: 7px;
  display: flex;
  align-items: center;
  box-shadow: 10px;
  overflow: hidden;
}

.inputBody > input {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px 60px 10px 20px;
  color: black;
  font-size: 1rem;
  /* background-color: #E7EDF1; */
  background-color: #e8edf1;
}
.inputBody > input::placeholder {
  color: #015555;
}

.inputBody > input:focus {
  outline: none;
}

.inputBody > i {
  position: absolute;
  right: 20px;
  font-size: 1rem;
}

.buttonleft {
  display: flex;
  justify-content: end;
}

.buttonleft button {
  background-color: #e3e8ee;
  color: white;
  /* padding: 20px; */
  margin: 20px 0;
}

.msg {
  color: #005555;
  font-size: 20px;
  font-weight: bold;
}

.msgprofile {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.msgprofile img {
  margin-right: 30px;
}

.smgText {
  line-height: 2px;

}
.smgText :nth-of-type(1) {
  font-weight: bold;
}
.smgText :nth-of-type(2) {
  font-size: 14px;
  color: #768396;
}

.sideSubtitle {
  color: #768396;
}


/* chip */
.chip {
  /* Center the content */
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 20px;

  /* Background color */
  /* background-color: rgba(0, 0, 0, 0.1); */

  /* Rounded border */
  border-radius: 9999px;

  /* Spacing */
  padding: 4px 8px;
}

.chip__content {
  margin-right: 4px;
  padding: 0 5px;
}

.chipplusright {
  margin: 0 10px;
}
