.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.cardbody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space {
  margin: 10px unset;
}

.tablebody {
  background-color: white;
  padding: 20px  20px;
  margin: 40px 0px 0 20px;
  border-radius: 20px;
}

.taskseperate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.taskseperate h3 {
  color: #005555;
}

.selectorinput {
    padding:'10px';
    border-radius:'10px';
    background:'#738383';
    /* border: 1px solid'#4BA8A8'; */
}
