.cardpareent {
  /* display: flex; */
  color: #768396;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 0 0 0 20px;
  font-size: 16px;
}

.cardbody {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cardinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  gap: 20px;
}
.teg :nth-of-type(2) {
    font-size: 22px;
    font-weight: bold;
    color: #1E1E1E;
}

.cardinner > p {
  font-size: 16px;
}

.cardinner > div > p {
  line-height: 0%;
  font-size: 16px;
  text-align: right;
}
.cardinner > div > p > span {
  font-size: 16px;
}

.cardline {
    margin-right: 10px;
}

.space {
  padding: 10px 0;
  display: block;
  width: 100%;
  border: 5px soild #E8EDF1;
}

.ten {
  color: #299702;
}
