.table-wrapper {
    overflow-y: auto;
    color: var(--txt-pre);
  }

  table {
    width: 100%;
    min-width: 300px;
    border-spacing: 0;
  }

  thead {
    /* background-color: var(--second-bg); */
    background-color: var(--txt-pre);
    color: white;
  }

  tr {
    text-align: left;
    border-bottom: 3px solid black;
  }

  th,
  td {
    text-transform: capitalize;
    padding: 10px 10px;
    /* font-size: 0.8rem; */
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
  }
  td {
    color: #464646;
  }

  tbody > tr:hover {
    background-color: #F3F7FA;
    color: #4BA8A8;
  }
